body {
    font-family: 'Ubuntu' !important;
}

.header {
    //background: url("../images/bgheader.png") repeat-x;
}

.slider {
    overflow: hidden;
    //background-color: antiquewhite;
    padding: 0 !important;
}

.flexslider {
    //max-height:335px;
    max-height: 280px;
    overflow: hidden;
    margin-bottom: 0px;
}

.flexslider .slides img {
    height:280px;
}

.topicons {
    padding-right:0 !important;
}

.topicons ul {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: inline-block; 
    list-style:none;
    margin-left:5px;
}

.topicons ul li {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 20px 0 10px;
    height: auto;
    line-height: 2em;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background: #0074c5; /* Old browsers */
    //background: -moz-linear-gradient(top,  #8cabd2 0%, #8cabd2 10%, #6f99c9 48%, #6e99c8 48%, #6b96c7 49%, #528dc4 50%, #4287c8 51%, #4287c8 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cabd2), color-stop(10%,#8cabd2), color-stop(48%,#6f99c9), color-stop(48%,#6e99c8), color-stop(49%,#6b96c7), color-stop(50%,#528dc4), color-stop(51%,#4287c8), color-stop(100%,#4287c8)); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top,  #8cabd2 0%,#8cabd2 10%,#6f99c9 48%,#6e99c8 48%,#6b96c7 49%,#528dc4 50%,#4287c8 51%,#4287c8 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top,  #8cabd2 0%,#8cabd2 10%,#6f99c9 48%,#6e99c8 48%,#6b96c7 49%,#528dc4 50%,#4287c8 51%,#4287c8 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(top,  #8cabd2 0%,#8cabd2 10%,#6f99c9 48%,#6e99c8 48%,#6b96c7 49%,#528dc4 50%,#4287c8 51%,#4287c8 100%); /* IE10+ */
    //background: linear-gradient(to bottom,  #8cabd2 0%,#8cabd2 10%,#6f99c9 48%,#6e99c8 48%,#6b96c7 49%,#528dc4 50%,#4287c8 51%,#4287c8 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cabd2', endColorstr='#4287c8',GradientType=0 ); /* IE6-9 */

}

.topicons ul li a {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size:13px;
}

.topicons ul li a img {
    width: 50%;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    -webkit-transition: opacity 0.3s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.3s;
}

.topicons ul li a img:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer {
    //margin-top:30px;
}

.footer-top{
    background-color: #333;
    color:white;
    font-family: 'Open Sans',sans-serif;
    font-size:13px;
    font-style:italic;
    padding:10px;
}

    /*.footer-top div {
        padding:0 5px;
        }*/

        .footer-top div {
            padding:0 4px;
            float:left;
        }

        .footer-top h3 {
            font-size:1em;
            font-weight: bold;
            margin:0;
            margin-bottom:3px;
        }

        .footer-top ul {
            list-style: none;
            padding:0;
        }

        .footer-blue {
            background-color: #0074c5;
            padding-bottom: 20px;
        }

        .avisos-copy{
            color:white;
            text-align: center;
        }

        .avisos-copy a {
            color:white;
        }

        .avisos-copy a:hover {
            color:white;
            background-color: transparent !important;
        }

        .avisos-copy ul {
            display: block;
            text-transform: uppercase;
        }

        .avisos-copy ul li{
            display: inline-block;
        }

        .avisos-copy ul li:last-child a {
            border: none !important;
        }

        .enavisos{
            list-style: none;
        }

        .enavisos li {
            display: inline;
            border-right: 2px solid white;
            padding-right: 10px;
            padding-left: 10px;
        }

        .enavisos li:last-child {
            border:none;
        }

        .enavisos li  a{
            color:#FFFFFF;
        }

        .logogobierno{
            margin-top: 15px;
        }

        .restoiconos {
            text-align: right;
            margin-top:15px;
        }

        .restico1 {
            text-align: right;
        }

        .redes img {
            padding-left: 10px;
        }
	.pielinks {margin-top:30px }

        .ftenlaces {
            font-size: 10pt;
            line-height: 0pt;
            margin-top: 10px;
        }

        .menu .nav.menu li {
            display: table-cell;
            background-color: #0074c5;
          /*  border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-right:1px;*/
        }

        .menu .nav.menu li:hover>a {
            text-decoration: underline;
        }

        .menu .nav.menu li a {
            color:white;
            margin:5px 0;
        }

        .menu .nav.menu li:last-child a {
            border:none !important;
        }

        .menu .nav.menu li a:hover {
            background-color: transparent;
        }

	.topmenu ul>li>ul>li>ul {
	display: none !important
	}

        .slider-iconos {
            margin-top: 15px;
        }

        .nav>li>a:hover {
            background-color: transparent;
        }

        .controls input[type="text"], .controls input[type="password"], .controls input[type="email"], .controls select {
            display: block;
            width:40%;
            height:34px;
            padding:6px 12px;
            font-size: 13px;
            line-height: 14px;
            color:#555;
            background-color: #fff;
            background-image: none;
            border:1px solid #ccc;
            border-radius: 4px;
            box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
            transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }


        .hasTooltip {
            display:inline-block !important;
        }

    /*#member-registration, .login form {
        padding:20px 12%;
        float:none;
        margin:0 auto;
        }*/

        .container form {
            padding:20px 12%;
            float:none;
            margin:0 auto;
        }

        .control-label {
            text-align: left !important;
        }

        .columnasenlaces {
            display:table;
            width:100%;
        }

        .colenlaces {
            display: table-cell;
        }

        /*  módulo de alerta - by Jesús - 27-10-2014 */ 
        #niveldealerta {
       /* left: 890px;
        position: absolute;
        top: 18px;*/
        // height:335px !important;
        height: auto;
        font-family: 'Ubuntu' sans-serif;
    }

    #niveldealerta strong {
        //font-weight: bold;
        color:#0074c5;
        //font-size: 24px;
        font-size: 20px;
        line-height: 4em;
    }

    #niveldealerta a:hover{
        text-decoration: none;
    }

    .alert5 {
      color:firebrick !important;
    }

    .barra {
        background: url('../images/barranivel.png');
        //background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        //height:250px;
        //margin-top: 40px;
        width: 100%;
        text-align: center;
    }

    .barra img {
     // width:71px;
     //height:auto;
     margin-top:-2px;
     height: 20px;
 }

 .flecha1 {
    margin-left:-80px;
}

.flecha2 {
    margin-left:-40px;
}

.flecha3 {
    margin-left:0px;
}

.flecha4 {
    margin-left:35px;
}

.flecha5{
    margin-left:75px;
}

.ico_certcc {
 height:42px !important
}

   /* div.barra {
        background: url("/modules/mod_alert_level/alert_level_imgs/barra.gif") no-repeat scroll right center transparent;
        float: left;
        height: 85px;
        width: 22px;
        }*/
        div.nivel {
            //background: url("/modules/mod_alert_level/alert_level_imgs/nivel.jpg") no-repeat scroll 0 0 transparent;
            // float: right;
            height: 31px;
            //margin-top: 27px;
            text-align: center;
            width: 100%;
            line-height: 0.7em;
            padding-top: 15px;
            font-size: 13px;
            text-transform: uppercase;
        }

        .form-inline{
            padding:0 !important;
            margin-top:5px;
        }

        .form-inline label {
            display:none;
        }

        .form-inline input[type=image]{
            height:26px;
            vertical-align: middle;
        }

        #mod-search-searchword {
            height:26px;
            background-color: #f2f2f2;
            border:none;
            padding-left:10px;
            vertical-align: middle;
            width:200px;
            border-radius: 5px;
            font-family: 'Ubuntu' sans-serif;
            margin-right:2px;
        }

        #mod-search-searchword::-webkit-input-placeholder {
            color:black;
        }
        #mod-search-searchword:-moz-placeholder {
            color:black;  
        }
        #mod-search-searchword::-moz-placeholder {
         color:black;
     } 
     #mod-search-searchword:-ms-input-placeholder { 
         color:black;
     }

     .mod-languages {
        float:right;
        text-align: right;
        width:90px;
        margin-right:40px;

    }

    .mod-languages form {
        padding:0px;
    }

    .mod-languages select {
        color:#000;
        border:none;
        height:26px;
        width:100px;
        font-family: 'Ubuntu',sans-serif;
        background-position: right;
        margin-right:20px;
        border: none  ! important;    
        outline : medium none !important;
        display: inline-flex !important;
        vertical-align: top;

    }

    .mod-languages select {
        -webkit-appearance:none;
        /* FIREFOX */
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        /***********/
        -ms-appearance:window;
        overflow:hidden;
        background: url("../images/arrowselect.png") no-repeat right #fff;
    }

    .mod-laguanges select::-ms-expand {
        display: none;
    }

    .loginbutton {
        color:#000;
        border:none;
        height:26px;
        width:140px;
        float:right;
        font-family: 'Ubuntu',sans-serif;
        background-position-x: 125px !important;
        background: url("../images/key.png") no-repeat right #f2f2f2;
        padding-left: 20px;
        padding-top: 1px;
        margin-left:3px !important;
        border-radius: 5px 5px 5px 50px;
    }

    .loginbutton:hover {
        text-decoration: none;
        color:#5794cf;
        background-color:#f2f2f2 !important;
    }

    .footer-menu {
        background-color: #333;
        color:white;
        padding-top:10px;
        padding-bottom:10px;
    }

    .footer-menu a {
        color:white;
        font-size: 13px;
        line-height: 16px;
        //line-height:20px;
	padding:0px !important
    }

    .footer-menu a:hover {
        color:white;
    }

    .footer-menu .nav-child {
        list-style:none;
        padding:0;
        font-weight: normal;
        line-height: 13px;
    }

    .footer-menu .menu {
        display: table;
        // width:100%;
        //font-style: italic;
    }

    .footer-menu .menu>li {
        //display: table-cell;
        margin-top:20px;
    }

    .footer-menu .menu>.parent {
        font-weight: bold;
        padding-right:10px;
        //padding-right:8px;
        //min-width:90px;
        min-width:170px;
        min-height:100px;
        display:inline-block;
    }

    .footer-menu .nav-header {
        font-size: 13px;
        line-height:13px;
    }
	
    .footer-menu a.privado {
	background-size: auto 12px !important;
	background-position: right center !important;
	background-image:url(/templates/evs7/images/candado.png) !important;
	background-repeat: no-repeat !important;
	padding-right:16px !important
    }

    #login-form .add-on {
        display:none;
    }

    #login-form .control-group {
        margin-bottom:5px;
    }

    #login-form .hasTooltip {
        display:none !important;
    }

    #form-login-remember {
        float:left;
        margin-right:10px;
    }

    #modlgn-remember {
        vertical-align: text-bottom;
    }

    #login-form ul {
        list-style: none;
        padding: 0;
    }

    #login-form ul li {
        display: inline-block;
        font-size: 13px;
    }

    #form-login-secretkey{
        display: none;
    }

    #login-form {
        border:1px solid #5794cd;
        padding:10px !important;
        border-radius:10px;
        z-index:99;
        position: absolute;
        background-color: #f2f2f2;
        margin-top:30px;
        visibility:hidden;
        right:0;
    }

    .headerderecha {
        margin-top:15px;
    }

    .newsflash {
        //margin-bottom:20px;
    }


    /*.newsflash{
        float:left;
        margin-bottom: 10px;
    }

    .newsflash div {
        max-height:124px;
        overflow: hidden;
    }

    .newsflash div:nth-child(even) {
        background: url('../images/barranoticias.png'), url('../images/ladycyclops.png');
        background-repeat: no-repeat;
    }

    .newsflash div:nth-child(odd) {
        background: url('../images/barranoticias.png'), url('../images/rj45.png');
        background-repeat: no-repeat;
    }

    .newsflash h4 {
        margin-top:15px;
        font-size: 14px;
        margin-bottom:5px;
        padding-left:170px;
        font-weight: bold;
    }

    .newsflash p {
        padding-left:170px;
        font-size:12px;
    }

    .newflash p:after {
        content:' ';
        position:absolute;
        display:block;
        width:100%;
        height:1em;
        bottom:0px;
        left:0px;
        background: white;
    }

    .newsflash p:before {
        content: '...';
        text-align: right;
        position: absolute;
        display: block;
        width: 2em;
        height: 1em;
        bottom: 0.8em;
        right: 30px;
    }

    .newsflash a {
        color:black;
    }

    .newsflash a:hover{
        color:black;
        } */

        .actualidad h2 {
            padding-bottom:158px !important;
            background-image: url(/templates/evs7/images/ojotarget.png), url(/templates/evs7/images/barritasection2.png) !important;
            background-repeat: no-repeat, no-repeat !important;
            //background-position: center bottom, center 41px !important;
            background-position:center 62px, center 40px !important;
            background-size: 247px auto, auto !important;



        }

    /*.moduletable h3 {
        font-size: 35px;
        text-transform: uppercase;
        color:#5794cf;
        background: url('../images/rssicon.png');
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: center;
        }*/


        .titdefensa {
            color:#3c95d3;
            font-size: 20px;
            margin-top:0;
            font-family: 'Ubuntu' sans-serif;
        }

        .search {
            float:right;
            margin-right:20px;
        }

        .defensa-menu .nav>li>a, .avisos-copy .nav>li>a {
            position:relative !important;
            display: block !important;
            border-right: 1px solid #fff !important;
            font-size: 13px !important;
            font-family: 'Ubuntu' sans-serif !important;
            padding: 0 7px !important;
        }

	.defensa-menu ul>li>ul>li>ul {
	display:none !important
	}	

        .nav {
            display: table;
            // width:100%;
        }

        .flex-caption {
            position:absolute;
            top:0;
            left:0;
            background-color: #0074c5;
            margin-top:220px;
            font-size: 28px;
            font-family: 'Ubuntu' sans-serif;
            padding-top: 0;
            line-height: 45px;
            width:auto;
        }

        .logogobierno img {
            margin-right:10px;
        }

        .redes {
            margin-top:40px;
            margin-bottom:20px;
            text-align: right;
        }

        .redes p {
            font-family: 'Ubuntu', sans-serif;
            font-size: 13px;
            font-weight: bold;
            color:#fff;
        }

        .redes a:first-child {
            padding-left:15px;
        }

        .titredes {
            vertical-align: top;
            padding-top: 20px;
            font-family: 'Ubuntu' sans-serif;
            font-size: 13px;
            font-weight: bold;
            color:#fff;
            margin-right:15px;
        }

        .menufooter {
            //display: table;
            padding:0 40px;
        }

        .menufooter .menu {
          display: table-cell;
         /*display: block;*/
         margin-right:15px;
         -webkit-column-count:6;
         -moz-column-count:6;
         column-count:6;
         -webkit-column-gap:0;
         -moz-column-gap:0;
         column-gap:0;
	 position:relative;
	 /*z-index:99;*/
     }

	.menufooter .menu a:hover {
		text-decoration:underline;
	}


     h2.ultnoticias {
        margin-top:0;
        font-size: 16px !important;
        color:#9a2100 !important;
        width:auto;
        float:left;
        margin-bottom:0px;
        line-height:20px;
	display:inline-block;
	padding-right:10px;
    }

    .colultnot {
        padding:0 !important;
        font-family: 'Ubuntu' sans-serif !important;
        margin-top:20px !important
    }

    .fechahora {
        font-size: 13px;
        color:#333333;
	line-height:20px
    }

    .lineanoticia {
        float:left;
        width:100%;
        background-color: #f2f2f2;
        padding:2px 5px;
        margin-top:3px
    }

    .lineanoticia ul, .lineanoticia ul li {
        list-style:none;
        padding:0;
        margin:0;
    }

    .lineanoticia ul li a {
        color:black;
        text-decoration:none
    }

    .barranoticias {
        padding:0 !important;
    }

    .bannerherramientas {
        background-color: #f2f2f2;
        text-align: center;
        font-family: 'Ubuntu' sans-serif;
    }

    .bannerherramientas  {
        padding:0;
        padding-bottom:5px;
        //display: table;
    }

    .slick-slide img {
        display: inline-block !important;
    }

    .bannerherramientas h3 {
        font-size: 16px;
        margin-top:10px;
        margin-bottom:5px;
    }

    .bannerherramientas p {
        font-size: 13px;
        margin-bottom:0;
    }

    .bannerherramientas img {
        margin-top:10px;
    }



    .firstsection {
        text-align:center !important;
        font-family: 'Ubuntu' sans-serif;
        margin-top:50px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;
        display: flex;
    }

    .firstsection h1 {
        font-family: 'Ubuntu';
        //font-size: 28px;
        font-size: 20px;
        color:#0074c5;
        //margin-bottom: 25px;
        margin-bottom: 20px;
        margin-top:0;
    }

    .firstsection p {
     margin-bottom:0;
 }

 .firstsection img {
    margin-bottom: 10px;
}

.elemportada {
    text-align: left;
    padding: 0 60px;
}


.elemportada a {
    color:black;
}

.elemportada h4 {
    font-size: 13px !important;
    font-weight: bold;
    margin-bottom: 0;
}

.elemportada p {
    font-size: 13px;
    line-height:15px;
}

/*
.firstsection .elemportada:nth-child(3){
    color:#0074c5;
}

.firstsection .elemportada:nth-child(3) a{
    color:#0074c5;
}*/

.elemportada ul.joomdlecourses {
    list-style:none;
    padding:0;
    margin:0
}

.copy {
    font-size: 13px;
}

.secondsection {
    font-family: 'Ubuntu' sans-serif;
    margin-top:20px;
    background-color: #fafafa;
    text-align: center;
    padding-bottom: 10px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
    display:flex;
}

.secondsection h2 {
    font-family: 'Ubuntu' !important;
    font-size: 20px;
    text-align:center;
    color:#0074c5;
    text-transform:uppercase;
    //margin-bottom:0;
}

.dvbarrita {
    width:100%;
    text-align:center;
}

.colsecimg {
    text-align: center;
    margin-top: 10px;
}

/*.colsecimg img {
    width:75%;
    }*/

    .textsection2 {
        padding:0 69px 0 59px;
        //height:110px;
        overflow:hidden;
        margin-top:10px;
    /*background-image: url(../images/leermas.png);
    background-repeat: no-repeat;
    background-position-x: 290px;
    background-position-y: 60px;*/
}

a.backbutton {
    float:left;
    padding:2px 7px;
    background:#0074c5;
    margin:30px 0;
    color:#FFFFFF;
}

a.backbutton:hover {
    color:white !important;
    background-color:#0074c5 !important;
}

.label, .label a {
font-size: 13px !important;
font-weight:normal !important;
margin-bottom:5px !important;
display:inline-block !important;
line-height:23px !important;
padding:0 5px !important
}

.label:hover, .label a:hover {
background-color:#CCC !important
}

.vermas {
    float:right;
    padding:2px 7px;
    background:#0074c5;
    margin-right:50px;
    color:#FFFFFF;
    position:absolute;
    bottom: 0;
    right:0;
}

.vermas a{
    color:#FFFFFF;
}

.vermas a:hover{
    color:#FFFFFF;
}


.textsection2 h3 {
    margin-top:0px;
    font-size: 13px !important;
    font-weight: normal !important;
    color:#5798cf;
    margin-bottom: 0;
    text-align: left;
}

.textsection2 p {
    font-size: 13px !important;
    font-weight: normal !important;
    text-align: left;
}

.alert1 {
    display: inline-block;
    //margin-top:25px;
}

.cargarmas {
    background-color: #0074c5;
    border:none;
    color:white;
    width:90px;
    height:22px;
    margin-bottom: 30px;
}

.cargarmas:hover {
    text-decoration: underline;
}


.defensa-menu .menu>.parent>ul {
    padding-left:5px;
    padding-right:5px;
    display: none;
    position:absolute;
    top:28px;
    background-color: #0074c5;
    z-index:50;
    min-width:90px;
}

.defensa-menu .menu>.parent>ul>li {
    position:relative;
    padding-bottom:5px;
    display: block !important;
    white-space: nowrap;
}

.defensa-menu .menu>ul {
    position:relative;
}

.defensa-menu .menu>.parent .parent>ul {
    display: none;
    position:absolute;
    top:0px;
    padding-left: 0px;
    z-index:99;
    padding-left:4px;
}

.defensa-menu .menu>.parent .parent>ul>li {
    display: block;
    padding-left:5px;
    padding-right:5px;
    font-size: 13px;
    white-space: nowrap;
}

.defensa-menu .menu>.parent .parent>ul>li:first-child {
    padding-top: 5px;
}


.defensa-menu .menu>.parent .parent>ul>li:last-child {
    padding-bottom: 5px;
}

.slick-prev {
  background-image: url(../images/leftarrow.png) !important; 
  height: 45px !important;
  width:25px !important;
  margin-left:15px;  
  left:-100px !important;
}

.slick-next {
  background-image: url(../images/rightarrow.png) !important; 
  height: 45px !important;
  width:25px !important;
  margin-right:15px;  
  right:-100px !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 0 !important;
}

.slick-prev, .slick-next {
    margin-top: -20px !important;
}

.slick-slide {
    padding: 0 10px;
}

.slick-slide p {
    font-size: 13px !important;
}

.slick-slider {
    margin-bottom:15px !important;
}

.menufooter>ul>li {
    display: inline-table;
    padding: 0 15px;
    width: 190px;
}

.logoutbutton {
   float:right;
   margin-top:5px;
}


.engranaje {
    float:right;
    background-image: url(../images/engranaje.png);
    width:16px;
    height:16px;
    margin-top:8px;
    margin-left:10px;
}

.linkmapa {
    text-align: left;
    font-size: 16px;
    cursor:pointer;
}

.linkmapa img {
    float:right;
    padding-right:10px;
    height:16px;
    margin-top:5px;
}

.flex-control-nav {
    bottom:10px;
}

.flex-control-paging li a, .flex-control-paging li a:hover {
    background-color: white;
}

.flex-control-paging li .flex-active {
    background-color:#0074c5;
}

.rowcontenido {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
    display:flex;
}

.menulateral {
    //background-color: #e5e5e5;
    padding:0 !important;
    margin-top:50px;
    margin-bottom:10px;
}

/*.menulateral .nav>li>a {
   font-size:14px;
   font-weight:bold;
}*/

/*.menulateral .nav>li>a:hover {
  background-color:transparent !important;
}*/

.menulateral ul {
    width: 100%;
    padding:0;
    list-style:none;
}

/*.menulateral li {
 background-color:#0074c5;
}*/

/*.menulateral li:hover {
 background-color:#9bcaed
}*/

.menulateral .parent li:first-child {
   border-top:1px solid #fff
}

.menulateral .parent li {
 border-bottom:1px solid #fff;
}

.menulateral .parent li:last-child {
 border-bottom:none;
}

.menulateral .nav-child .nav-child {
  padding-left:10px !important;
  background-color:white !important;
}

.menulateral a {
 padding:3px !important;
 width:100%;
 display:inline-block;
/* color:white;*/
 font-size:13px;
}

/*.menulateral a:hover {
  text-decoration:none;
  color:white;
}*/


.ballsheader {
 margin-bottom:10px;
 display:none;
}

.menulateral .menu {
   margin-top:7px;
}

.defensa-menu ul.menu {
    width:100%;
    background-color: #0074c5;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.defensa-menu ul.menu>li {
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.defensa-menu ul.menu>li>ul {
padding-top:5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.defensa-menu ul.menu>li>ul, .defensa-menu ul.menu>li>ul li,  .defensa-menu ul.menu>li>ul li ul, .defensa-menu ul.menu>li>ul a, .defensa-menu ul.menu>li>ul li a {
background-color:#5798cf !important;
}


.page-header {
    margin-top:0 !important;
    margin-bottom:0 !important;
    border:none !important;
}

.page-header a {
    text-transform: uppercase;
}

.restoiconos img {
    height:48px;
}

.fticons img {
height:48px !important;
margin:0 5px !important;
}

.defensa-menu .oculto {
    display: none;
}

.breadcrumb>li+li:before {
    content:"" !important;
    padding:0 !important;
}

.breadcrumb {
    background-color: transparent !important;
    padding-left:0 !important;
    font-size:13px !important;
}

.breadcrumb>.active {
    color:black !important;
    padding-left: 5px !important;
}

#recaptcha {
	height:130px;
	overflow:hidden;
}


.newsflash-title {
   font-size:16px;
   text-align:left;
   margin-bottom:0;
   margin-top:0;
}

.page-header h2, .blog>h2, #userForm h2  {
   //background-image:url(../images/headerballs.png),url(../images/backheaderarticle.png);
   //background-image:url(../images/backheaderarticle.png);
   //background-repeat:no-repeat, repeat-x;
   //ckground-repeat:repeat-x;
   //ckground-position:right;
   //lor:white;
   //ight:40px;
   font-size:20px;
   //ne-height:40px;
   //dding-left:10px;
}

.nube {
margin-top:20px
}

.nube a {
display: inline-block !important;
padding:0 !important;
width:auto !important
}

h2, h2 a {
font-weight:bold
}

.page-header h2 a, h2, h3.koowa_header {
  color:#0074c5 !important;
  font-size: 20px !important;
  font-weight: bold !important
}



.pagination {
	margin: 18px 0;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
	display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 18px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999;
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
	padding: 11px 19px;
	font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
	padding: 0 6px;
	font-size: 9.75px;
}

.counter{
	padding: 0 14px;
	line-height: 2em;
	text-decoration: none;
}

.blog .page-header h2 {
  background:none;
  color:#0074c5;
  margin:0;
  padding:0;
}

.titulo_general {
color: rgb(0, 116, 197);
font-family: Ubuntu;
font-size: 20px;
font-weight: bold;
line-height: 22px;
text-decoration: none;
text-transform: uppercase;
}

.textsection2 h3 {
  font-weight:100;
}

.textsection2 ul {
   list-style:none;
   padding:0;
   text-align:left;
   font-size:13px;
}

.textsection2 strong {
   font-weight:100;
}

.colsection2 {
   padding-bottom:30px;
}

.colsection2 strong {
font-weight:bold !important
}

.tablesorter {
  font-family:'Ubuntu' !important;
  font-size:13px !important;
}

.tablesorter thead {
  font-size:20px !important;
}


a:hover, a:focus {
background-color:inherit !important;
border-color:transparent;
//color:white !important;
}

.mod-languages .chzn-container {
   display:none !important;
}


/*.rowcontenido {
   width:100%;
}*/

#searchForm {
  padding:0;
}

.phrases, .only {
   float:left;
   margin-right:20px;
   //width:47%;
}

.phrases {
  margin-bottom:30px;
}

.counter {
  display:none;
}

.search-results {
  width:100%;
  display:inline-block;
}

.result-category, .result-created {
   display:none;
}

.result-title {
   margin-top:10px;
}

.result-text {
  font-size:13px;
}

#tablesort thead {
  color:#0074c5;
}

#tablesort_filter {
  float:left;
}

#tablesort_wrapper {
  margin-top:20px !important;
}

#tablesort_filter input[type="search"] {
  background-color:#f2f2f2;
  border:none;
  border-radius:5px;
}

#tablesort_filter {
 margin-right:20px;
}

.login .well {
  background-color:transparent !important;
  border:none;
  box-shadow:none;
  padding:10px 0;
}

.login img, #member-registration img {
   float:left;
   margin-right:15px;
}

.login h2, #member-registration h2 {
  font-size:20px;
  color:#0074c5;
  margin-bottom:0;
   margin-top:0;
  font-weight:bold !important
}

.login fieldset, #member-registration fieldset {
   width:100%;
}

.login .controls input {
  background-color:#f2f2f2;
  border:none;
  box-shadow:none;
  border-radius:0;
}

#member-registration, #member-profile {
   padding:0;
   background-color:transparent;
   border:none;
   box-shadow:none;
}

#member-registration input, #member-registration select, #member-profile input, #member-profile select {
  background-color:#f2f2f2 !important;
  border:none !important;
  border-radius:0 !important;
  box-shadow:none !important;
}

#member-profile button {
   margin-top:10px;
}

#member-profile .chzn-single {
  border:none;
  background:none;
  background-color:#f2f2f2;
  height:34px;
  padding-top:5px;
}

#member-profile legend {
  margin-bottom:0;
  padding-top:20px;
}

#member-registration, #member-profile, #josForm {
   padding:0;
   background-color:transparent;
   border:none;
   box-shadow:none;
}


#member-profile .chzn-single:hover {
  background-color:#f2f2f2 !important;
}

.chzn-container, .chzn-drop {
   background-color:#f2f2f2 !important;
}

#member-registration legend {
   display:none;
}

#josForm input, #josForm select, #josForm input, #josForm select, #josForm textarea, #josForm textarea {
  background-color:#f2f2f2 !important;
  border:none !important;
  border-radius:0 !important;
  box-shadow:none !important;
}


#jform_spacer-lbl {
  display:none;
}

.form-limit label {
  margin-top:20px !important;
  margin-bottom:20px !important;
}

#searchForm .only label {
  width:50% !important;
  float:left;
}

.rowcontenido .search {
  margin-top:-30px;
}

.rowcontenido .search .page-title {
  background-image:url(/templates/evs7/images/lupaazulbig.png);
  background-repeat:no-repeat;
  background-position: left center;
  padding-left: 30px;
  font-size:25px;
  color:#0074c5;
}

#search-searchword {
  width:400px;
  height:34px;
  font-size:16px;
  font-style:italic;
  background-color:#f2f2f2;
  border:none;
  padding-left:10px;
  border-radius:5px;
  margin-bottom:10px;
}

#btnsearch {
  width:70px;
  height:32px;
  color:white;
  background-color:#0074c5;
  border:none;
  border-radius:5px;
  font-size:16px;
}

.textoAlerta {
  display:table-cell,
  font-size:12px;
  padding:0 5px;
  vertical-align:top;
  width:200px;
}


#member-registration p {
  margin-top:20px;
}

#jform_profile_tos label, #jform_profile_tos label {
  float:left;
}

.acymailing_lists {
   margin-top:10px;
}

.acymailing_lists input[type="checkbox"] {
  margin-right:5px;
}

.acymailing_form label {
   margin-right:20px;
}

.acysubbuttons .button {
  margin-right:10px;
}

.acymailing_fulldiv form {
   padding:0;
}

.item-page .pull-right.item-image {
   margin-left:20px;
}

/*.privado {
  background-image:url(/templates/evs7/images/candado.png);
  background-repeat:no-repeat;
  background-position:170px;
}*/

.menulateral .privado  {
  background-image:url(/templates/evs7/images/candadoazul.png);
  background-repeat:no-repeat;
  background-position:170px;
}



.item-page {
  min-height:150px;
}

.firstsection .custom {
  /*min-height:280px;*/
}

.hlimite {
 min-height:280px
}

.textsection2 p {
  display:none;
}

.textsection2 ul {
   display:none;
}

.textsection2 h3, .textsection2 h4, .textsection2 h3 a {
  font-size:13px !important;
} 

.flex-direction-nav {
  display:none !important;
}

.btn-primary:hover {
  background-color:#3276b1 !important;
}

.privadoazul {
  background-image:url(/templates/evs7/images/candadoazul.png);
  background-repeat:no-repeat;
  background-position:right;
  background-size:auto 12px !important;
  padding-right:17px;
}

.lineanoticia {
  font-size:13px !important;
}


.menulateral>ul>li>a {
  color:#0074c5;
  text-transform:uppercase;
  font-size:16px;
  font-weight:bold;
}

.menulateral>ul>li>ul a {
   color:black;
   padding-right:15px !important;
}

.menulateral a {
   padding-left:10px !important;
}

.lvl1, .lvl2 {
   background-repeat:no-repeat;
   background-position:left center;
}

.lvl1 {
  background-image:url(/templates/evs7/images/flechalvl1.png);
}

.lvl2 {
  //background-image:url(/templates/evs7/images/flechalvl2.png);
  color:#0074c5 !important;
}

.menulateral .parent .parent ul {
   display:none;
}


#userForm {
   padding:0;
}

#userForm select, #userForm textarea, #userForm input[type="text"] {
   width:40%;
   background-color:#f2f2f2;
   border:none;
   box-shadow:none;
   border-radius:0;
}

.formControlLabel {
  width:100% !important;
  text-align:left !important;
}

.formControls {
   margin-left:0 !important;
   margin-top:10px !important;
}

.hlimite ul {
padding:0;
}

.elemportada ul {
margin-top:5px;
font-size:13px
}

.menulateral li a {
background-image: url(/templates/evs7/images/flechafinmen.png);
background-repeat: no-repeat;
background-position: right center;
background-size: auto 11px;
border-bottom:1px solid #eee;
}

.menulateral .parent {
	border-bottom:none;
}

.menulateral>ul>li>ul>li:last-child() {
	border-bottom:none;
}

.menulateral .flechaabajo {
background-image: url(/templates/evs7/images/flechaabajomen.png);
background-position: right;
background-size: 11px;
}

.menulateral .parent .parent ul li:first-child() {
	border-top:1px solid #eee;
}

.menulateral .privado {
background-image: url(/templates/evs7/images/candadonegro.png);
background-repeat: no-repeat;
background-position: right;
background-size: 11px;
}

.menulateral>ul>li>a {
background-image: none !important;
}


/** MEDIA QUERIES **/

@media (max-width: 992px) {

    body{
        overflow-x: hidden;
    }

    .firstsection img {
        margin-top:30px;
    }

    .firstsection {
        margin-top:20px;
    }

    #menufootercollapse ul{
        display: block !important;
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }

    #menufootercollapse ul li{
        display: block !important;
    }

    .menufooter .navbar-header {
        float:none !important;
    }

    .slick-prev {
        margin-left: 50px;
    }

    .slick-next {
        margin-right: 50px;
    }

    .bannerherramientas {
        margin-top:30px;
    }

    .loginbutton {
        float:left;
    }

    .mod-languages {
        float:left;
        margin-left:20px;
    }

    .comainmenu {
        max-height: 25px;
        float: right;
        margin-bottom: 10px;
    }

    #mainmenucol {
        width:100%;
        padding: 0;

    }

    #mainmenucol li {
        display: block;
        padding-bottom: 5px;
    }

    #mainmenucol ul {
        display: block;
    }

    .hlogin .menu {
        width:100%;
    }

    .menu .nav.menu li a {
        margin: 0;
    }

    .hlogin {
        margin-top:5px;
        margin-bottom: 20px;
    }

    .search {
        float:none;
    }

    .barra{
        width:103px;
    }

    .nivel {
        text-align: left !important;
    }

    .ultimasalerta{
        margin-top:20px;
    }

    .colultnot {
        padding: 0 15px !important;
        margin-top:0 !important;
    }

    #niveldealerta strong {
        position:relative;
        left:105px;
        top:-23px;
    }

    .engranaje {
        float:left;
    }

    .logoutbutton{
        float:left;
    }

    #mod-search-searchword {
        //max-width: 150px;
        width:80%;
    }

    .rowcontenido {
        display: block !important;
        margin:0 15px !important;
    }

    .menulateral {
        margin-top:20px !important;
    }

    .firstsection, .secondsection {
       display:block;
    }

    .fticons img {
        height: 35px !important;
	margin: 0 5px !important;
    }


}

@media (max-width: 768px) {
    .logogobierno {
        text-align: center;
    }

    .restoiconos {
        text-align: center;
    }

    .avisos-copy ul {
        margin:5px 0;
    }

    .slick-prev {
        margin-left: 70px;
    }

    .slick-next {
        margin-right: 70px;
    }

    .elemportada {
        padding: 0 20px;
    }

    .engranaje {
        margin-left:0;
        margin-right:10px;   
    }

    .redes img {
	padding-right:10px;
	padding-left:0px
   }	

}

/* overrides joomla */

.item-page, .category-list, .com_docman, #userForm, .profile-edit, .registration, .acymailing_module div.acymailing_module_form { padding-left: 20px !important }
.highlight{ background-color: #fbf803 !important;}
.logout .well { width:33% !important}

#searchForm fieldset.phrases {
  position:absolute !important;
  left:-200px !important;
  top:40px !important;
  width: 180px !important;
  height: 217px  !important;
}

#searchForm fieldset.only {
  position:absolute !important;
  left:-200px !important;
  top:290px !important;
  width: 180px !important;
  height: auto !important;
}

#searchForm fieldset.only label {
  float: left !important;
  width:100% !important;
  display:block !important
}

/* overrides bootstrap*/

h3 { font-size: 16px !important; font-weight:bold !important}
h4 {font-size: 16px !important}
h5 { font-size: 13px!important; font-weight: bold !important}
body {font-size: 13px !important}

.navbar-collapse {
max-height:100% !important
}

/* overrides: otros*/
.chzn-container-single .chzn-single span {
  line-height: 17px !important
}

.elemportada ul {
  margin: 0 !important;
  padding:0 !important;
}

.txt10 {
font-size:11px !important
}

.nav-stacked{
	border-top:1px solid #333;	
}
